extends layout

block content
    h3 REGISTER
    hr#top
    form(id='form', method='post', action='/create')
        table
            tr
                td
                    label#usernameL(for='username' class="iLabel") Username
                td
                    label#emailL(for='email') Email
            tr
                td
                    input#usernameB(type='text', name='username' class="iBox", required)
                td
                    input#emailB(type='text', name='email', required)
            tr
                td
                    label#passwordL(for='password' class="iLabel") Password
                td
                    label#ageL(for='age' class="iLabel") Age
            tr
                td
                    input#passwordB(type='password', name='password' class="iBox", required)
                td
                    input#ageB(type='text', name='age', class="iBox" required)

        label#genderL(for='a1') What is Your Gender?:
        select(name='a1')
            option(value="Male") Male
            option(value="Female") Female
            option(value="Other") Other
        br
        label(for='a2') Are You Currently Employed?:
        select(name='a2')
            option(value="Yes") Yes
            option(value="No") No
        br
        label(for='a3') Do You Prefer Cats or Dogs?:
        select(name='a3')
            option(value="Cats") Cats
            option(value="Dogs") Dogs
        br
        label(for='userlevel') User Level
        br
        select(name='userlevel')
            option(value="User") User
            option(value="Admin") Admin
        br
        hr
        input#regButton(type='submit', value='REGISTER')



