extends layout

block content
    h3 REGISTER
    hr#top
    form(id='form', method='post', action='/create')
        label#usernameL(for='username' class="iLabel") Username
        label#emailL(for='email') Email
        br
        input#usernameB(type='text', name='username' class="iBox", required)
        input#emailB(type='text', name='email', required)
        br
        label#passwordL(for='password' class="iLabel") Password
        label#cpasswordL(for='cpassword' class="iLabel") Confirm Password
        br
        input#passwordB(type='password', name='password' class="iBox", required)
        input#cpasswordB(type='password', name='cpassword' class="iBox", required)
        br

        label#ageL(for='age') Age
        br

        input#ageB(type='text', name='age', required)
        br

        label#genderL(for='a1') What is Your Gender?:
        select(name='a1')
            option(value="Male") Male
            option(value="Female") Female
            option(value="Other") Other
        br
        label(for='a2') Are You Currently Employed?:
        select(name='a2')
            option(value="Yes") Yes
            option(value="No") No
        br
        label(for='a3') Do You Prefer Cats or Dogs?:
        select(name='a3')
            option(value="Cats") Cats
            option(value="Dogs") Dogs
        br
        label(for='userlevel') User Level
        br
        select(name='userlevel')
            option(value="User") User
            option(value="Admin") Admin
        br
        hr
        input#regButton(type='submit', value='REGISTER')



