doctype
html
    head
        title Details
    body
        p Name: #{person.name}
        p Age: #{person.age}
        p Species: #{person.species}
        p Says: #{says}
        br
        #menu
            a(href='/') Go back