extends layout
block content

    canvas#barGraph(width='2000', height='100')

    local_data !{JSON.stringify(people)}
    input(type='hidden', value=local_data)#myLocalDataObj

    script(src='scripts/surveyResults.js')
