extends layout
block content

    img#topPic(src='/images/top.png')
    img#bottomPicture(src='/images/bottom.jpg')
    hr
    canvas#barGraph(width='2000', height='100')

    script(src='scripts/surveyResults.js')


