doctype html
head 
    link(href='/css/style.css', rel='stylesheet')
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel='shortcut icon' href='/images/heliumIcon.png' type='image/x-icon'/ >
    block vars
    title Helium Training
    - var authorized = false
    - var isAdmin = false
body

    header
        table
            tr
                td
                    label#phoneNum 801-532-8008 | info@heliumtraining.com
    nav
        ul.primary-nav
            li.left
                a#logoB(href='/')
                    img#logo(src="/images/heliumLogo.png")
            li.right
                if authorized
                    a#logout(href='/logout') Logout
                    if isAdmin
                        a#admin(href='admin') Admin
                    a#edit(href='edit') Edit
                else
                    a#register(href='create') Register
                    a#login(href='login') Login

                a#home(href='/') Home
                


    section
        block content

    footer
        p3 Copyright &copy; Semicolon Drop Table Master 2017