extends layout

block content
    h3 LOG IN
    hr#top
    body
        form(method='post', action='/login')
            label(for='username') Username (user):
            br
            input(name='username')
            p
            label(for='password') Password (pass):
            br
            input(name='password', type='password')
            p
            input(type='submit', value='Enter')
